<div class="mnx-content">
  <span class="mnx-grid">
    <span class="mnx-grid--4">
      <div class="mnx-typography--caption">Current Balance</div>
      <div class="mnx-typography--heading1">€&nbsp;--</div>
    </span>
    <span class="mnx-grid--4">
      <div class="mnx-typography--caption">Total Receives</div>
      <div class="mnx-typography--heading1 debit__color-font">€&nbsp;{{totalReceveievs}}</div>
    </span>
    <span class="mnx-grid--4">
      <div class="mnx-typography--caption">Total Expenses</div>
      <div class="mnx-typography--heading1 credit__color-font">€&nbsp;{{formatCurrency(totalExpenses)}}</div>
    </span>
  </span>
</div>

<div class="mnx-content">
  <span class="mnx-chip-set toolbar--sticky">
    <span class="mnx-chip mnx-chip--selectable mnx-chip--active transition-filter-chip all" (click)="applyFilter('all')">
      <span class="filter-color__indicator white"></span>
      All
      <span class="filter-count">{{totalItems}}</span>
    </span>

    <span class="mnx-chip mnx-chip--selectable transition-filter-chip credit" (click)="applyFilter('credit')">
      <span class="filter-color__indicator credit__color"></span>
      Expenses
      <span class="filter-count">{{totalCredit}}</span>
    </span>

    <span class="mnx-chip mnx-chip--selectable transition-filter-chip debit" (click)="applyFilter('debit')">
      <span class="filter-color__indicator debit__color"></span>
      Receives
      <span class="filter-count">{{totalDebit}}</span>
    </span>
  </span>

  <div class="transaction-day" *ngFor="let bankAccount of bankAccounts">
    <span class="transaction-day__title">{{parseDate(bankAccount.date)}}</span>
    <transaction *ngFor="let transaction of bankAccount.transactions" [transaction]="transaction" [filter]="appliedFilter"></transaction>
  </div>
</div>